.home-container{
    font-family: sans-serif;
    color:white;
}
.home-h1{
    font-size:100px;
    font-weight:lighter;
    position: relative;
    text-align: center;
}
.inputs{
    background:white;
    width:fit-content;
    border-radius:40px;
    position: relative;
    justify-content: center;
}
.input1{
    width:19vw;
    padding-left:30px;
}
.location{
    position: relative;
    top:2.5px;
    left:30px;
    width:30px;
    font-size:25px;
}
.input2{
    width:9vw;
}
.calender{
    position: relative;
    top:2px;
    font-size:22px;
}
.input3{
    width:7.5vw;
}
.user{
    position: relative;
    top:3px;
    font-size:22px;
}
input{
    height:60px;
    border: 0;
    font-size:15px;
    outline: 0;
    
}
.some{
    display: flex;
    justify-self:center;
}
.search{
    height:50px;
    font-size: large;
    background: #000;
    color: white;
    border: 0;
    border-radius:40px;
    position: relative;
    right:10px;
}
.details{
    display: flex;
}