#root{
  width:100vw;
  height:100vh;
}
body{
  margin:0;
  background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("../public/4k-moving-light-through-a-landscape-hamrnczhr7vgoax8.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
